<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header id="battery-card-header">
      <ion-card-title>Battery</ion-card-title>
      <ion-badge [color]="loading === 'Loading' ? 'success' : 'warning'">{{ loading }}</ion-badge>
    </ion-card-header>
    <ion-card-content id="battery-card-content">
      <ion-progress-bar id="battery-status" [value]="battery"></ion-progress-bar>
      <ion-label id="battery-status-label">{{ Math.round((battery ?? 0) * 100) }}%</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Network</ion-card-title>
    </ion-card-header>
    <ion-card-content id="network-card-content">
      <div>
        <ion-icon
          [name]="networkConnected ? 'checkmark-circle-outline' : 'alert-circle-outline'"
          [color]="networkConnected ? 'success' : 'warning'">
        </ion-icon>
        <ion-text>
          {{ networkConnected ? "Connected" : "Not connected"}}
        </ion-text>
      </div>
      <div>
        <ion-icon [name]="getNetTypeIcon()"></ion-icon>
        <ion-text>{{ (networkType?.charAt(0)?.toUpperCase() + "" + networkType?.slice(1)) }}</ion-text>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>