<ion-content [fullscreen]="true">

  <div class="input-container">
    <ion-item lines="full">
      <ion-input label="Text" labelPlacement="stacked" [(ngModel)]="text" placeholder="Type here..."></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-select label="Farbe" [(ngModel)]="color" (ionChange)="sendToast($event)">
        <ion-select-modal>
          <ion-select-option value="red">Rot</ion-select-option>
          <ion-select-option value="green">Grün</ion-select-option>
          <ion-select-option value="blue">Blau</ion-select-option>
        </ion-select-modal>
      </ion-select>
    </ion-item>

    <ion-range [min]="0" [max]="10" [step]="1" [ticks]="true" [snaps]="true" [(ngModel)]="size"></ion-range>
  </div>

  <div class="text-container">
    <ion-text [style.fontSize]="calcSize()" [style.color]="color">{{ text }}</ion-text>
  </div>

</ion-content>